<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305891112971-2uvgs1d8063384tlnm9q64a1nnpaooc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305891112971-2uvgs1d8063384tlnm9q64a1nnpaooc6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>305891112971-f5b5381gk1nvlor4sbeaa7v72t8795g3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_fA9gzivf6qWijHV5MP77dx7fdc8wQb0</string>
	<key>GCM_SENDER_ID</key>
	<string>305891112971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messaging</string>
	<key>PROJECT_ID</key>
	<string>messaging-bc9fc</string>
	<key>STORAGE_BUCKET</key>
	<string>messaging-bc9fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305891112971:ios:03d4bd82d017e4543daf0e</string>
</dict>
</plist>